{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);

    }

    .main-container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }


    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }


        .main-container {
            border-radius: 0;
            box-shadow: none;
        }
    }
</style>
<section class="vh-md-100 ">
    <div class="container mt-md-5 h-custom main-container">
        {% include "components/navbar.html" %}
        <div class="row d-flex justify-content-center align-items-md-center h-100">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 order-2 ">
                <div class="ps-5 ps-md-0">
                    <p class="small mb-0" style="color: rgb(231 161 35);;">Say goodbye to negativity</p>
                    <p class="h2 ">
                        Our chat detection technology keeps it positive
                    </p>
                    <p class="text-muted small">Chat with confidence - our AI detects bad behavior</p>
                    <a href="/accounts/google/login/?process=login" class="btn btn-primary btn-floating mx-1"> Continue
                        with
                        google
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 order-1">
                <img src="/static/images/tryit.png" class="img-fluid" alt="Sample image">
            </div>
        </div>
    </div>

</section>


<script>
    function changeurl() {
        var selectvalue = $('input[name=yesno]:checked', '#form').val();
        if (selectvalue == "yes") {
            window.location.href = "/new-user-school-details";
        } else {
            window.location.href = ("/non-school-user");
        }
    }
</script>

<script>
    let els = document.getElementsByClassName('step');
    let steps = [];
    Array.prototype.forEach.call(els, (e) => {
        steps.push(e);
        e.addEventListener('click', (x) => {
            progress(x.target.id);
        });
    });

    function progress(stepNum) {
        let p = stepNum * 30;
        document.getElementsByClassName('percent')[0].style.width = `${p}%`;
        steps.forEach((e) => {
            if (e.id === stepNum) {
                e.classList.add('selected');
                e.classList.remove('completed');
            }
            if (e.id < stepNum) {
                e.classList.add('completed');
            }
            if (e.id > stepNum) {
                e.classList.remove('selected', 'completed');
            }
        });
    }
</script>
{% endblock %}