
boto3==1.24.10

dj-database-url==0.5.0
Django==3.2
django-allauth==0.51.0
django-bootstrap5==22.2
django-ckeditor==6.5.1
django-cors-headers==3.12.0
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-heroku==0.3.1
django-redis==5.0.0
django-social-share==2.2.1
django-storages==1.12.3
gunicorn==20.1.0
ipython==8.2.0

Pillow==9.2.0

psycopg2==2.9.3
psycopg2-binary==2.9.3

python-dotenv==0.19.2
channels==3.0.1
channels-redis==2.4.2
daphne