{% include 'base.html' %}
{% block content %}
{% include 'components/navbar.html' %}





<div class="container">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script>
        let loc = window.location;
        let wsStart = 'ws://';
        if (loc.protocol == 'https:') {
            wsStart = 'wss://';
        }
        let endpoint = wsStart + loc.host + loc.pathname;

        var socket = new WebSocket(endpoint);
        socket.onopen = async function (e) {
            console.log("Connection established!", e);
        };
        socket.onerror = async function (e) {
            console.log("WebSocket error:", e);
        };
        socket.onclose = async function (e) {
            console.log("Connection closed!", e);
        };

    </script>
</div>

{% endblock %}