<!DOCTYPE html>
<html>
<head>
  <title>Sementic chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-D9MXYjK1VZf/E8/1WZjN/oH9G/NvSk8dN/wQjKGj/a0tjf7V8yq5u5aG3qr5u5a" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap-grid.min.css" integrity="sha384-D9MXYjK1VZf/E8/1WZjN/oH9G/NvSk8dN/wQjKGj/a0tjf7V8yq5u5aG3qr5u5a" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap-reboot.min.css" integrity="sha384-D9MXYjK1VZf/E8/1WZjN/oH9G/NvSk8dN/wQjKGj/a0tjf7V8yq5u5aG3qr5u5a" crossorigin="anonymous">
</head>
<body>
  {% comment %} <header>
    {% include "navbar.html" %}
  </header> {% endcomment %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% comment %} <footer>
    {% include "footer.html" %}
  </footer> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-2iIwZC+zR5rpLj8M/Wq3xm9b9aYdYjG5z5Fhf5n5z5v5u5aG3qr5u5aG3qr5u5a" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-2iIwZC+zR5rpLj8M/Wq3xm9b9aYdYjG5z5Fhf5n5z5v5u5aG3qr5u5aG3qr5u5a" crossorigin="anonymous"></script>
</body>
</html>