{% include 'base.html' %}
{% block content %}
{% include 'components/navbar.html' %}








<div class="container-sm ">
    {% include 'components/search_users.html'%}


    {% if all_chat_rooms %}
    <div class="row">
        <div class="col-12">
            <h1 class="mt-3 mb-3">
                All messages 
            </h1>
        </div>
       {% for room in all_chat_rooms %}
        <div class="col-12 mb-3">
            
            <div class="notification-button position-relative d-flex p-3">
                <img class="rounded-circle avatar-img" src="{{ room.second_person.socialaccount_set.all.0.get_avatar_url|default:"/static/images/default-user-img.svg" }}" />
                <p class="align-self-center ps-3 mb-0">{{room.second_person.get_full_name}}</p>

                <!-- {{message.message_demo_student.get_full_name}} <br>
                message for <b> {{message.message_for.subject_name}} </b> demo class -->
                <a id="next-button" class="next stretched-link"
                    href="{{room.get_absolute_url}}">
                </a>
                
            </div>
            
        </div>
        {% endfor %}

    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <h1>
                no messages
            </h1>
        </div>
    </div>
    {% endif %}

</div>
{% comment %} <section class="new-post-search ">
    <div class="container text-white">
        <div class="d-flex justify-content-between">
            <div class="p-3 position-relative d-flex flex-column text-center justify-content-center">
                <a href="" class="stretched-link"></a>
                <img width="22" src="/static/images/home.svg" alt="">
                <p>Home</p>
            </div>
            <div class="p-3 position-relative d-flex flex-column text-center justify-content-center ">
                <a href="my-classes" class="stretched-link"></a>
                <img width="22" src="/static/images/classes.svg" alt="">
                <p>Classes</p>
            </div>
            <div class="p-3 position-relative d-flex flex-column text-center justify-content-center">
                <a href="" class="stretched-link"></a>
                <img width="22" src="/static/images/message.svg" alt="">
                <p> Messages</p>
            </div>
            <div class="p-3 position-relative d-flex flex-column text-center justify-content-center">
                <a href="" class="stretched-link"></a>
                <img width="22" src="/static/images/profile.svg" alt="">
                <p> Profile</p>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<script>
    function switch_div(show) {
        document.getElementById("show_" + show).style.display = "block"; document.getElementById("Bookedbutton").classList.toggle("current-selected");
        document.getElementById("show_" + ((show == 1) ? 2 : 1)).style.display = "none"; document.getElementById("Unbookedbutton").classList.toggle("current-selected");
    } 
</script>
{% endblock %}

